body { 
   margin: 0px;
   display: flex;
   flex-direction: column;
}
.divSuperior {
   background-color: blue;
   }

.divCentral {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.asideDer {
   margin-right: 0px;
}
       
#ulEscuelas {
   background-image: url("./imagenes/eudoxia.png");
}
